<div class="book-header">
    <!-- Actions Left -->
    <a href="#" class="btn pull-left toggle-summary" aria-label="{{ __("SUMMARY_TOGGLE") }}"><i class="fa fa-align-justify"></i></a>
    <a href="#" class="btn pull-left toggle-search" aria-label="{{ __("SEARCH_TOGGLE") }}"><i class="fa fa-search"></i></a>
    {% if glossary.length > 0 %}
    <a href="{{ basePath }}/GLOSSARY.html" class="btn pull-left" aria-label="{{ __("GLOSSARY_OPEN") }}"><i class="fa fa-sort-alpha-asc"></i></a>
    {% endif %}
    <div id="font-settings-wrapper" class="dropdown pull-left">
        <a href="#" class="btn toggle-dropdown" aria-label="{{ __("FONTSETTINGS_TOGGLE") }}"><i class="fa fa-font"></i>
        </a>
        {% include "./font-settings.html" %}
    </div>

    <div class="dropdown pull-right">
        <a href="#" class="btn toggle-dropdown" aria-label="{{ __("SHARE_TOGGLE") }}"><i class="fa fa-share-alt"></i>
        </a>
        <div class="dropdown-menu font-settings dropdown-left">
            <div class="dropdown-caret">
                <span class="caret-outer"></span>
                <span class="caret-inner"></span>
            </div>
            <div class="buttons">
                <button type="button" data-sharing="twitter" class="button">
                    {{ __("SHARE_ON", platform="Twitter") }}
                </button>
                <button type="button" data-sharing="facebook" class="button">
                    {{ __("SHARE_ON", platform="Facebook") }}
                </button>
                <button type="button" data-sharing="instapaper" class="button">
                    {{ __("SHARE_ON", platform="Instapaper") }}
                </button>
            </div>
        </div>
    </div>

    <a href="#" target="_blank" class="btn pull-right wechat-sharing-link sharing-link" data-sharing="wechat" aria-label="Wechat"><i class="fa fa-wechat"></i></a>
    <a href="#" target="_blank" class="btn pull-right weibo-sharing-link sharing-link" data-sharing="weibo" aria-label="Weibo"><i class="fa fa-weibo"></i></a>

    <div id='wechat_mask'>
      <div id='wechat_qrcode_wrapper'>
        <span><i class='fa fa-times'></i></span>
        <div id='wechat_qrcode'></div>
      </div>
    </div>

    <!-- Title -->
    <h1>
        <i class="fa fa-circle-o-notch fa-spin"></i>
        <a href="{{ basePath }}/" >{{ title }}</a>
    </h1>
</div>
